# Monorepo root
.idx/

# Frontend (Next.js)
frontend/.next/
frontend/node_modules/
frontend/.env*.local

# Laravel
laravel/vendor/
laravel/.env
laravel/storage/logs/*.log
laravel/storage/framework/cache/
laravel/storage/framework/sessions/
laravel/storage/framework/views/
laravel/bootstrap/cache/*.php
laravel/database/database.sqlite
